@model List<ASPCORECALISMA.Models.Carousel>

<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < Model.Count; i++)
        {
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="@i" class="@((i == 0) ? "active" : "")"></li>
        }
    </ol>

    <div class="carousel-inner">
        @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
        {
            <div class="carousel-item @(item.Index == 0 ? "active" : "")">
                <div class="container">
                    <div class="row p-5">
                        <div class="col-lg-6 mb-0 d-flex align-items-center order-lg-first">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>@item.Value.CarouselBaslik</b></h1>
                                <h3 class="h2">@item.Value.CarouselAltBaslik</h3>
                                <p>
                                    @item.Value.CarouselAciklama
                                </p>
                            </div>
                        </div>
                        <div class="mx-auto col-md-6 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="@item.Value.CarouselFotoUrl" alt="">
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>

    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
        <i class="fas fa-chevron-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
        <i class="fas fa-chevron-right"></i>
    </a>
</div>
